.list-group-item.active,
    .list-group-item.active:focus,
    .list-group-item.active:hover {
      background-color: var(--accent) !important;
      color: var(--text-light) !important;
      border: none;
    }

.settings-menu-parent.active,
.settings-menu-parent.active:focus,
.settings-menu-parent.active:hover {
  background-color: transparent !important;
  color: inherit !important;
  border: none;
}